---
title: The Fellowship of the Perl
layout: default
---

<header>
  <h1>Manifesto of the Fellowship of the Perl</h1>
</header>

<main>
  <section>
    <p><strong>WE ARE</strong> software professionals and hobbyists who use the Perl programming language, or who have an interest in the health and well-being of the Perl programming language and the Perl community. For diverse reasons, we make these statements:</p>

    <p><strong>WE ASSERT:</strong></p>

    <ul>
      <li>That physical and psychological safety is an important aspect of our work and life experience, and is of crucial importance to the long-term health of any community.</li>
      <li>That a diverse community is stronger and more sustainable, through the contributions of people from diverse life experiences and backgrounds.</li>
      <li>That the Perl community has historically been highly decentralized in its governance, in that anyone wishing to contribute may do so without hindrance. There is no coherent central authority across the community other than Larry Wall, who historically speaks primarily on technical matters, not community.</li>
      <li>That the Perl Standards of Conduct, because of the decentralized nature of community leadership, are not and cannot be easily applied across the community.</li>
      <li>That this decentralization, while it is one of the Perl community’s strengths and a point of difference from other programming language communities, is also its greatest weakness, as it permits the possibility of community members causing friction and strife, to the detriment of the physical and/or psychological safety of peer community members, which actions can go unchecked for extended periods of time.</li>
      <li>That technical matters of the Perl language are already well-supported, through the work of the Perl 5 Porters, Perl 5 Testers, the Toolchain community, and others, and with the financial support of The Perl Foundation, the Enlightened Perl Organisation, and others.</li>
      <li>That we do not wish to reform the decentralized nature of Perl governance, but instead perceive a need for a common venue for Perl community members who desire greater diversity, community transparency and safety for all.</li>
    </ul>

    <p><strong>WE THEREFORE:</strong></p>

    <ul>
      <li>Desire to create a Fellowship wherein such community members, regardless of their level of technical expertise or community participation, may publicly make themselves known as such, model behavior that is beneficial to the community at large, and work to encourage diversity and protect the physical and psychological safety of all members of the Perl community in all community interactions, physical or digital.</li>
      <li>Will collaboratively and transparently work to define a Code of Conduct and Ethics under which all Members of the Fellowship will commit to work.</li>
      <li>Will collaboratively and transparently work to create a Constitution and Bylaws describing the purposes, constituencies, and governance of the Fellowship.</li>
    </ul>

    <p><strong>WE DO HEREBY</strong> name this Fellowship “The Fellowship of the Perl,” and commit ourselves expeditiously to these actions.</p>

    <p><strong>SIGNATORIES,</strong> in alphabetical order by surname:</p>
    <ul>
      {% for signatory in site.data.signatories %}
      <li>{{ signatory.name }}
        {% if signatory.handle %}
        ({{ signatory.handle }})
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="form">
    <h2>Join us!</h2>

    <p>If you're interested in making Perl a better programming language and a better community, then join us in founding the Fellowship by signing the Manifesto. You'll be subscribed to an email list, where we will set to work soon on the Code of Conduct and Ethics, and the Constitution and Bylaws documents. Fill in the form below, and let us know you want to join in.</p>

    <form action="https://formspree.io/mdoappjj" method="POST" class='fill_me_out'>
      <label for="name">Name:</label><input required placeholder="Your name, as you want it to appear." type="text" name="name"><br/><br/>
      <label for="handle">IRC or PAUSE handle:</label><input placeholder="Your handle, as you want it to appear. This is optional." type="text" name="handle"><br/><br/>
      <label for="_replyto">Email:</label><input required type="email" placeholder="Your email address." name="_replyto"><br/><br/>
      <label>
        <input type="checkbox" name="signatory"> <strong>Yes!</strong> I want to sign the Manifesto, and participate in the founding of the Fellowship!
      </label>
      <label for="comments">Comments or Questions:</label>
      <textarea name="comments" placeholder="Type a message here, if you like. It's optional."></textarea><br/><br/>
      <button type="submit" value="Send">Send!</button>
    </form>
  </section>
</main>
