@charset "UTF-8";

html {
   font-size: medium;
   height: 100%;
}

body {
   background: #eee;
   color: #222;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   line-height: 1.4;
   margin: 0;
}

header {
   background-color: #3f3f75;
   color: #eee;
   padding: 2em;
}

section {
   margin: auto;
   max-width: 80ch;
}

@media screen and (min-width: 400px) {
   section { padding: 0 2em; }
}

section.form {
   background-color: #3f3f75;
   color: #eee;
   min-width: 100%;
   padding: 2em 0;
   text-align: center;
}

section.form p {
   text-align: left;
}

section.form p,form {
   margin: auto;
   max-width: 80ch;
   padding-bottom: 2em;
}
@media screen and (min-width: 500px) {
   section.form p,form {
      padding: 0 2em 2em 2em;
   }
}

section.form input[type=checkbox] {
   margin-bottom: 2em;
}

section.form input[type=text], input[type=email] {
   width: 60ch;
}
@media screen and (max-width: 400px) {
   section.form input[type=text],input[type=email] {
      width: 40ch;
   }
}

section.form button {
   background: #eee;
   border-radius: .2em;
   font-size: x-large;
}

strong {
   font-size: x-large;
}

h1 {
   font-size: 3em;
   text-align: center;
}

h2 {
   font-size: 2em;
   text-align: center;
   text-transform: uppercase;
}

label {
   display: block;
   margin-bottom: .5em;
}

textarea {
   height: 20ch;
   width: 60ch;
}
@media screen and (max-width: 400px) {
   textarea {
      width: 40ch;
   }
}

li {
   margin-bottom: .5em;
   margin-right: 10%;
}
